
/**
 * AutopilotHQ logo.
 */

.logo[data-logo="AutopilotHQ"] {
  width: 0;
}

.logo[data-logo="AutopilotHQ"] > * {
  background-image: url(images/logo.svg);
  margin: 0 0 0 0;
}

.logo[data-logo="AutopilotHQ"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="AutopilotHQ"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}
